In [1]:
import pandas as pd

In [48]:
df = pd.read_csv("data/msft.csv")

In [49]:
df.head()

         Date  Open  High   Low  Close      Volume  Dividends  Stock Splits
0  1986-03-13  0.06  0.06  0.06   0.06  1031788800        0.0           0.0
1  1986-03-14  0.06  0.07  0.06   0.06   308160000        0.0           0.0
2  1986-03-17  0.06  0.07  0.06   0.07   133171200        0.0           0.0
3  1986-03-18  0.07  0.07  0.06   0.06    67766400        0.0           0.0
4  1986-03-19  0.06  0.06  0.06   0.06    47894400        0.0           0.0

In [51]:
df.iloc[:10,:2]

         Date  Open
0  1986-03-13  0.06
1  1986-03-14  0.06
2  1986-03-17  0.06
3  1986-03-18  0.07
4  1986-03-19  0.06
5  1986-03-20  0.06
6  1986-03-21  0.06
7  1986-03-24  0.06
8  1986-03-25  0.06
9  1986-03-26  0.06

In [52]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends',
       'Stock Splits'],
      dtype='object')

In [64]:
df["Volatility"] = df["Close"] - df["Open"]
df["Change"] = df["Close"] - df["Close"].shift(1)
df["PercentChange"] = (df["Close"] - df["Close"].shift(1))/df["Close"].shift(1)*100

In [65]:
df.tail()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,PercentChange,Volatility,Change
8629,2020-06-08,185.94,188.55,184.44,188.36,33211600,0.0,0.0,0.619658,2.42,1.16
8630,2020-06-09,188.00,190.70,187.26,189.80,29783900,0.0,0.0,0.764494,1.80,1.44
8631,2020-06-10,191.13,198.52,191.01,196.84,43872300,0.0,0.0,3.709168,5.71,7.04
8632,2020-06-11,193.13,195.76,186.07,186.27,52854700,0.0,0.0,-5.369844,-6.86,-10.57
8633,2020-06-12,190.54,191.72,185.18,187.74,43345700,0.0,0.0,0.789177,-2.80,1.47

In [55]:
df.iloc[:,:]

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,PercentChange
0,1986-03-13,0.06,0.06,0.06,0.06,1031788800,0.00,0.0,0.00
1,1986-03-14,0.06,0.07,0.06,0.06,308160000,0.00,0.0,0.00
2,1986-03-17,0.06,0.07,0.06,0.07,133171200,0.00,0.0,0.01
3,1986-03-18,0.07,0.07,0.06,0.06,67766400,0.00,0.0,-0.01
4,1986-03-19,0.06,0.06,0.06,0.06,47894400,0.00,0.0,0.00
5,1986-03-20,0.06,0.06,0.06,0.06,58435200,0.00,0.0,0.00
6,1986-03-21,0.06,0.06,0.06,0.06,59990400,0.00,0.0,0.00
7,1986-03-24,0.06,0.06,0.06,0.06,65289600,0.00,0.0,0.00
8,1986-03-25,0.06,0.06,0.06,0.06,32083200,0.00,0.0,0.00
9,1986-03-26,0.06,0.06,0.06,0.06,22752000,0.00,0.0,0.00
10,1986-03-27,0.06,0.06,0.06,0.06,16848000,0.00,0.0,0.00
11,1986-03-31,0.06,0.06,0.06,0.06,12873600,0.00,0.0,0.00
12,1986-04-01,0.06,0.06,0.06,0.06,11088000,0.00,0.0,0.00
13,1986-04-02,0.06,0.06,0.06,0.06,27014400,0.00,0.0,0.00
14,1986-04-03,0.06,0.06,0.06,0.06,23040000,0.00,0.0,0.00
15,1986-04-04,0.06,0.06,0.06,0.06,26582400,0.00,0.0,0.00
16,1986-04-07,0.06,0.06,0.06,0.06,16560000,0.00,0.0,0.00
17,1986-04-08,0.06,0.06,0.06,0.06,10252800,0.00,0.0,0.00
18,1986-04-09,0.06,0.06,0.06,0.06,12153600,0.00,0.0,0.00
19,1986-04-10,0.06,0.06,0.06,0.06,13881600,0.00,0.0,0.00
20,1986-04-11,0.06,0.06,0.06,0.06,17222400,0.00,0.0,0.00
21,1986-04-14,0.06,0.06,0.06,0.06,12153600,0.00,0.0,0.00
22,1986-04-15,0.06,0.06,0.06,0.06,9302400,0.00,0.0,0.00
23,1986-04-16,0.06,0.07,0.06,0.07,31910400,0.00,0.0,0.01
24,1986-04-17,0.07,0.07,0.07,0.07,22003200,0.00,0.0,0.00
25,1986-04-18,0.07,0.07,0.06,0.06,21628800,0.00,0.0,-0.01
26,1986-04-21,0.06,0.07,0.06,0.06,22924800,0.00,0.0,0.00
27,1986-04-22,0.06,0.06,0.06,0.06,15552000,0.00,0.0,0.00
28,1986-04-23,0.06,0.06,0.06,0.06,15609600,0.00,0.0,0.00
29,1986-04-24,0.06,0.07,0.06,0.07,62352000,0.00,0.0,0.01
...,...,...,...,...,...,...,...,...,...
8604,2020-05-01,175.31,178.14,173.53,174.09,39370500,0.00,0.0,-1.22
8605,2020-05-04,174.01,178.50,173.32,178.34,30372900,0.00,0.0,4.33
8606,2020-05-05,180.12,183.14,179.40,180.26,36839200,0.00,0.0,0.14
8607,2020-05-06,181.57,183.69,181.13,182.03,32139300,0.00,0.0,0.46
8608,2020-05-07,183.66,184.04,182.07,183.09,28316000,0.00,0.0,-0.57
8609,2020-05-08,184.47,184.49,182.85,184.17,30912600,0.00,0.0,-0.30
8610,2020-05-11,182.64,186.99,182.34,186.22,30892700,0.00,0.0,3.58
8611,2020-05-12,186.28,186.52,181.79,182.00,32038200,0.00,0.0,-4.28
8612,2020-05-13,182.04,183.54,176.05,179.25,44711500,0.00,0.0,-2.79
8613,2020-05-14,177.05,180.19,175.19,180.03,41873900,0.00,0.0,2.98
8614,2020-05-15,178.56,186.54,176.51,182.65,46610400,0.00,0.0,4.09
8615,2020-05-18,185.23,185.68,183.45,184.40,35306600,0.00,0.0,-0.83
8616,2020-05-19,184.52,186.08,182.98,183.12,26799100,0.00,0.0,-1.40
8617,2020-05-20,184.81,185.85,183.94,185.66,31261300,0.51,0.0,0.85
8618,2020-05-21,185.40,186.67,183.29,183.43,29119500,0.00,0.0,-1.97
8619,2020-05-22,183.19,184.46,182.54,183.51,20826900,0.00,0.0,0.32
8620,2020-05-26,186.34,186.50,181.10,181.57,36073600,0.00,0.0,-4.77
8621,2020-05-27,180.20,181.99,176.60,181.81,39517100,0.00,0.0,1.61
8622,2020-05-28,180.74,184.15,180.38,181.40,33810200,0.00,0.0,0.66
8623,2020-05-29,182.73,184.27,180.41,183.25,42146700,0.00,0.0,0.52
8624,2020-06-01,182.54,183.00,181.46,182.83,22622400,0.00,0.0,0.29
8625,2020-06-02,184.25,185.00,181.35,184.91,30794600,0.00,0.0,0.66
8626,2020-06-03,184.82,185.94,183.58,185.36,27311000,0.00,0.0,0.54
8627,2020-06-04,184.30,185.84,182.30,182.92,28761800,0.00,0.0,-1.38
8628,2020-06-05,182.62,187.73,182.01,187.20,39893600,0.00,0.0,4.58
8629,2020-06-08,185.94,188.55,184.44,188.36,33211600,0.00,0.0,2.42
8630,2020-06-09,188.00,190.70,187.26,189.80,29783900,0.00,0.0,1.80
8631,2020-06-10,191.13,198.52,191.01,196.84,43872300,0.00,0.0,5.71
8632,2020-06-11,193.13,195.76,186.07,186.27,52854700,0.00,0.0,-6.86
8633,2020-06-12,190.54,191.72,185.18,187.74,43345700,0.00,0.0,-2.80

In [4]:
import yfinance as yf

ModuleNotFoundError: No module named 'yfinance'

In [ ]:

msft = yf.Ticker("MSFT")

# get stock info
msft.info

In [67]:
import plotly

ModuleNotFoundError: No module named 'plotly'